* {
    margin: 0;
    padding: 0;
 }

@font-face{
    font-family: Kanit-Black;
    src: url(../Fuentes/Kanit/Kanit-Black.ttf);
 }
 
 @font-face{
    font-family: LexendPeta-Medium;
    src: url(Fuentes/Lexend_Peta/static/LexendPeta-Medium.ttf);
 }
 
 @font-face{
    font-family: TitilliumWeb-SemiBoldItalic;
    src: url(Fuentes/Titillium_Web/TitilliumWeb-SemiBoldItalic.ttf);
 }

 @font-face {
    font-family: Kanit-Bold;
    src: url(Fuentes/Kanit/Kanit-Bold.ttf);
 }

 @font-face{
    font-family: LexendPeta-Black;
    src: url(Fuentes/Lexend_Peta/static/LexendPeta-Black.ttf);
 }

 @font-face{
    font-family: LexendPeta-SemiBold;
    src: url(Fuentes/Lexend_Peta/static/LexendPeta-SemiBold.ttf);
 }

 body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
 }

nav{
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    display: flex;
    justify-content: space-around;   
    background-color: white;
    background: linear-gradient(to right, rgb(87, 56, 2),  rgba(87, 56, 2, 0.795), rgba(129, 84, 5, 0.594));
    color: white;
    font-family: TitilliumWeb-SemiBoldItalic;
    
}

.div_1{
    width: 5vw;
    height: 10vh;
    align-items: center;
    display: flex;
}

.div_2{
    width: 95vw;
    height: 10vh;
    justify-content: right;

}

div{
    margin: 0;
}

header{
  width: 100vw;
  height: 50;
  display: flex;
  justify-content: center;
  justify-self: center;
  }

  article{
    flex-direction: column;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-self: center;

  }

  .art-1{
    width: 25vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    justify-self: right;
    background-color: #DDA15E;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
 }

 .art-2 {
    width: 25vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    justify-self: right;
    align-items: center;
    justify-content: center;
    background-color: #DDA15E;
}

.art-3{
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    background-color: #BC6C25;
    padding-left: 8px;
    display: flex;
    align-items: center;
    padding-right: 0.5px;
}

.art-4{
    width: 25vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    background-color: #DDA15E;
    align-items: center;
    justify-content: center;

}

.art-5{
    width: 25vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DDA15E;
}

ul,li{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: flex-end;
    align-items: center;
    color: white;
 }

h1, h2, h4, h5{
    font-family: LexendPeta-Black;
    color: white;
    font-size: 0.6em;
    justify-self: center;
}


h3{
    font-family: Kanit-Bold;
    color: white;
}

.p1{
    font-family: LexendPeta-Medium;
    font-size: 0.4em;
    color: white;
    justify-self: center;
}

.p2{
    font-family: LexendPeta-Medium;
    font-size: 0.4em;
    color: white;
    justify-self: center;
    padding-right: 8px;
    padding-left: 8px;
}


.p3{
    font-family: LexendPeta-Medium;
    font-size: 0.7em;
    color: white;
}

.p4{
    font-family: LexendPeta-Medium;
    font-size: 0.4em;
    color: white;
    justify-self: center;
    justify-content: center;
    padding-right: 7.5px;
    padding-left: 7.5px;
}

.p5{
    font-family: LexendPeta-Medium;
    font-size: 0.4em;
    color: white;
    justify-self: center;
    justify-content: center;
    padding-right: 20px;
    padding-left: 10px;
}

footer{
    width: 100vw;
    height: 40vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-self: center;
    justify-items: center;
    background-color: #DDA15E;
    


}
.div_3, .div_4, .div_5{
    height: 40vh;

}

.div_3{
    width: 100vw;
    height: 40vh;
    background-color: #DDA15E;

}

.div_4{
    width: 50vw;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    background-color: #DDA15E;

}

.h6{
    justify-self: center;
    font-family: LexendPeta-Black;
    color: white;
    font-size: 1em;
    justify-self: center;
}

.div_5{
    width: 25vw;
    background-color: #BC6C25;

}


.img2{
    justify-self: center;
    justify-items: center;
}

.pfooter{
    font-family: LexendPeta-SemiBold;
    font-size: 0.6em;
    color: white;
    justify-self: center;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
}

